<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510051547668-h2pro51piiagea1t7cc5atrlgd7eq8us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510051547668-h2pro51piiagea1t7cc5atrlgd7eq8us</string>
	<key>API_KEY</key>
	<string>AIzaSyDyGDwEv7vrxLQFgoItRgMeMARwHtAs0cA</string>
	<key>GCM_SENDER_ID</key>
	<string>510051547668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dadsoul.Tsepochka</string>
	<key>PROJECT_ID</key>
	<string>tsepochka-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>tsepochka-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510051547668:ios:41b7839a014c3502</string>
	<key>DATABASE_URL</key>
	<string>https://tsepochka-backend.firebaseio.com</string>
</dict>
</plist>